LLM_PROVIDER=openai_or_anthropic
LLM_API_KEY=replace_me
LLM_MODEL=replace_me
JIRA_BASE_URL=https://your-site.atlassian.net
JIRA_EMAIL=replace_me
JIRA_API_TOKEN=replace_me
JIRA_PROJECT_KEY=AIQE
RAG_TOP_K=5
APP_ENV=local
